15	HP.COM		(Hewlett-Packard Company)
150.29	aist.go.jp	(Agency of Industrial Science and Technology)
192.31.[197-206]	etl.go.jp	(Electrotechinical Laboratory)
192.50.77.225		www.delegate.org
192.50.77.0/25		xxx.yyy.zzz
